
body{
    background-color: white;
    margin: 0;
}


.div1{
    background-color: white;
    padding: 0;
}

.div2{
    overflow: hidden;
    background-color: #B7410E;
    justify-content: center;
    padding: auto;
}

.src-frm{
    display: inline-block;   
}

.src-inp{
    border-width: 0;
    border-style: solid;
    border-color: #B7410E;
    border-radius: 5px;
    padding: 2% 0;
}


.div3{
    float: right;
    margin: 1%;
}

.div5{

    border-width: 5px;
    border-color: #808000;
    border-style: solid;
    border-radius: 60px;
    margin: auto;
    margin-top: 1%;
    padding: 2%;
    width: 60%;
}

.div-img{
    margin: 0;
    padding: 0;
}

.img{
    display: inline;
    margin:0 ;
    padding: 0;
    width: 25%;  
}



.logo{
    padding: 1% 0;;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 50%;

    
}



h1{ 
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    color: #808000;
    margin: 0;
    font-size: 250%;
    text-align: center;
    padding-bottom: 0;
}

.list{
    
    display: inline;
    padding: 0;
    margin: 0;
}

.btn{
    display: inline-block;
    list-style: none;
    margin: 1% 0 0.5% 0.5%;
    
}

.btn:hover{
    animation-fill-mode: both;
    background-color: #B7410E;
    color: #ffffff;
    transition: 200ms;
    transform: scale(1.2);
}

.btn.active{
    background-color: #ffffff;
}

.link{
    text-decoration: none;
    padding: 0;
    margin: 0;
    border-radius: 0;
    font-size: 112.6%;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    color: #ffffff;
    width: 6%;
    background-color: #B7410E;
    cursor: pointer;
    transition: 0.2s all;  
    border-width: 2px;
    border-color: #B7410E;
    border-style: solid;
    vertical-align: middle;
    
}



.para1{  
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    text-align: center;
    color: #B7410E;
    font-size: 180%;
    margin: 0;
    padding: 2%;
}

.para13{  
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    text-align: center;
    color: #B7410E;
    font-size: 180%;
    margin: 0;
    padding: 6.4% 0;  
}

.para14{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    color: #0C0C0C;

}

.footer{
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #B7410E;
}

.ftdiv1{
    margin: 2%;
    padding: 0;
    width: auto;
    
}

.ftdiv2{
    margin: 2%;
    padding: 0;
    width: auto;

}

.ftdiv3{
    margin: 2%;
    padding: 0;
    width: auto;
}

.ftdiv4{
    margin: 2%;
    padding: 0;
    width: auto;
}

.sub-btn{
    border: #B7410E solid 2px;
    border-radius: 5px;
    background-color: #ffffff;
    color: #B7410E;
}

.ftlist{
    margin: 0;
    padding: 0;

}

.ftlink{
    display: inline;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 112.6%;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    color: #ffffff;
    width: 6%;
    
    cursor: pointer;
    transition: 0.2s all;  
    border-width: 2px;
    
    vertical-align: middle;

}

.news{
    border-width: 0;
    border-style: solid;
    border-color: #B7410E;
    border-radius: 5px;
}





