/* colours: old #B7410E, #EDF6F9, #83C5BE, #006D77.*/

:root{
    --color1: #EEEEEE;
    --color2: #222831;
    --color3: #393E46;
    --color4: #006D77;
    --placeholderclr: #EEEEEE;
    --hoverclr: #222831;
}



/* body element to indicate the colour and margin of the tag */
body{
    background-color: var(--color1);
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}




/* The navigation bar styles */
.navigation_bar_div{
    border-color: var(--color3);
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: var(--color1);
    justify-content: center;
    padding: auto;
    z-index: 1000;
}

/* lists used in the navbar */
.menu_buttons_list{
    text-decoration: none;
    display: inline;
    padding: 0;
    margin: 0 0 0 2%;
}

/* property of any image */
.menu_button{
    display: inline-block;
    list-style: none;
    margin: 1% 0 0.5% 0.5%; 
}

/* property of any button when hovered */
.menu_button:hover{
    animation-fill-mode: both;
    background-color: var(--hoverclr);
    color: var(--color3);
    transition: 200ms;
    transform: scale(1.2);
}

/* property of any button when active */
.menu_button.active{
    background-color: var(--color3);
}

.menu_button_link{
    text-decoration: none;
    padding: 0;
    margin: 0;
    border-radius: 0;
    font-size: 112.6%;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    color: var(--color3);
    width: 6%;
    background-color: var(--color1);
    cursor: pointer;
    transition: 0.2s all;  
    border-width: 2px;
    border-color: var(--color1);
    border-style: solid;
    vertical-align: middle;  
}

/* the properties of div with the search bar */
.search_bar_div{
    float: right;
    margin: 0.75rem 3em 0.75rem 3rem;
}

/* the search form styles */
.search_bar_form{
    display: inline-block;   
}

/* the styles of the input box */
.search_bar_input{
    font-size: medium;
    border-color: var(--color3);
    border-width: 0.125vw;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1%;
    background-color: transparent;
    padding-left: 1.75rem;
    width: 13vw;
    height: 4vh;
    color: var(--color3);
    outline: none;
    overflow: hidden;
}

/* the colour of the plaeholder in the search bar */
.search_bar_input::placeholder{
    color: var(--color3);
}

/* what the placeholder does on hover */
.search_bar_input::placeholder:hover{
    color: var(--color3);
}




/* the div with the looping video */
.welcome_div{ 
    position: relative;
    overflow: hidden;
    background-image: url(Images/welcome_img.png);
    background-size: cover;
    margin-bottom: 1rem;
    height: 93.1vh;  
}

/* The property of "Welcome to CozyHomes" title */
.welcome_p{  
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-size: 280%;
    font-style: normal;
    text-align: center;
    color: var(--color1);
    margin: 0;
    padding: 3% 0;  
}

/* the css properties of the paragraph that comes after the welcome sign */
.introduction_p{  
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    text-align: center;
    color: var(--color1);
    font-size: 180%;
    margin: 0 0 0 0;
    padding: 3% 0;  
}

.donate_button{
    margin: 0 45vw 0 43.5vw;
    width: 10vw;
    font-family: "Nunito", sans-serif;
    text-decoration: none;
    color: var(--color3);
    background-color: var(--color1);
    border-radius: 1rem;
    padding: 1rem 2rem;
    font-size: 2.5rem;
}

.donate_button:hover{
    transition: 200ms;
    background-color: var(--color3);
    color: var(--color1);
}

/* the properties of the head 2 element */
.sub_headers{ 
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    color: var(--color3);
    margin: 2%;
    font-size: 250%;
    text-align: center;
    padding-bottom: 0;
}



/* the container with the news about  the charity */
.news_div{
    grid-template-rows: 1fr;
	grid-template-columns: repeat(3, 1fr);
    display: grid;
    margin: auto;
    justify-content: space-evenly;
    margin: 1rem 4rem;

}

/* the div with the photo and the sentence */
.news_images, .div5e1{
    text-align: center;
}
 
/* the properties of the div surrouding the inner containers */
.div5p{
    margin: 2rem 8rem;
    border-radius: 1rem;
    background-color: var(--color4);
    padding: 0.1rem;
    height: 94vh;    
}

.impact_div{
    background-color: transparent;
    padding: 0.1rem;  
}

.div5i1{
    display: flex;
    justify-content: space-evenly;
}

.img-i{
    height: 37vh;
    display: inline;
    margin: 1rem 5rem ;
    padding: 0;
    width: 20vw;
}

.h3i{
    font-family: "Nunito", sans-serif;
    font-size: 1.5rem;
    color: var(--color3);  
}

span{
    position: absolute
}

/* #i1{
    grid-area: 1/1/2/2;
	background-color: transparent;
    z-index: -1;
}

#i2{
    grid-area: 1/2/2/3;
	background-color: transparent;
    z-index: -1;
}

#i3{
    grid-area: 1/3/2/4;
	background-color: transparent;
    z-index: -1;
} */

/* the properties of the h1 element that labels the divs  */
.head2p{   
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    color: var(--color1);
    margin-top: 1rem;
    font-size: 2.5rem;
    text-align: center;
    padding-bottom: 0;
}

.head2i{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    color: var(--color4);
    margin-top: 2%;
    font-size: 2.5rem;
    text-align: center;
    padding-bottom: 0;
}

/* the properties of the image tag in the divs */
.img-p1{
    border-radius: 1rem;
    height: 37vh;
    display: inline;
    margin: 0 ;
    padding: 0;
    width: 40vw; 
}

/* the first div within div5 under projects section */
.div5p1{   
    display: flex;
    text-align: center;
    margin: 2rem;
}

#g1{
    grid-area: 1/1/2/2;
}

#g2{
    grid-area: 1/2/2/3;
}

#g3{
    grid-area: 1/3/2/4;
}

.div5i1{
    flex-direction: row;
    display: flex;
    text-align: center;
    margin: 2%;
}

/* the properties of h1 tag in the different divs */

.h3p{
    font-family: "Nunito", sans-serif;
    width: 50vw;
    margin: 0 1rem 0 1rem 0;
    font-size: 1.25rem;
    color: var(--color1);
}

.h2p1, .h2p2{
    padding: 0;
    margin: 0;
}

.h2p1{
    margin-top: 1rem;
}

.h2p2{
    margin-top: 2rem;
}

/* properties of the images within the image tag */
.newsimg{
    width: 100vw;
    margin: 0;
    padding: 0;  
}

/* properties of the image  */
.img{
    border-radius: 1rem;
    height: 35vh;
    display: inline;
    margin: 0 ;
    padding: 0;
    width: 28vw;  
}

/* the properties of the background videos */
.video1{ 
    position: absolute;
    z-index: -1;
    width: 100vw;
    
}



/* properties that make up the logo button */
.logobtn{
    padding: 0;
    margin: 0;
    width: 2.5%;
    outline: none;
    cursor: pointer;
    display: inline;
    background-color: transparent;
    border: none;
    vertical-align: middle;
}
 
/* property image in the button */
.btnimg{
    border-radius: 0.7rem;
    width: 2vw;
    vertical-align: middle;
}

.btnimg:hover{
    animation-fill-mode: both;
    background-color: var(--hoverclr);
    color: var(--color1);
    transition: 200ms;
    transform: scale(1.2);
}


/* property of the link element that decides the visual representation for the viewer */


/* the last line of the website to address the audience  */
.para1{  
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    text-align: center;
    color: var(--color4);
    font-size: 2rem;
    margin: 0;
    padding: 1.5rem;
}




/* and the property the name of the div that holds the links at the end. */
.footer{
    background-color: var(--color3);
}

.subft1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: var(--color3);
}

.newsh3{
    color: var(--color3);
    font-size: x-large;
    font-family: "Nunito", sans-serif;
}

.news-frm{
    border-bottom: 1%;
    border-color: var(--color1);
}

.news{
    font-size: medium;
    border: none;
    border-radius: 0.8rem;
    padding-left: 0.7rem;
    width: 10vw;
    height: 3vh;
    background-color: var(--color1);
    outline: none;
    overflow: hidden;
}

.news::placeholder{
    color: var(--color3);
}

/* the subscribe button properties */
.sub-btn{
    font-size: 1rem;
    border: none;
    border-radius: 0.8rem;
    width: 4vw;
    height: 3.125vh;
    background-color: var(--color3);
    outline: none;
    overflow: hidden;
    color: var(--color1);
    cursor: pointer;
}

.sub-btn:hover{
    background-color: var(--color2);
    color: var(--color1);
    transition: 200ms;
    }

/* the properties of the first div in the footer */
.ftdiv1{
    margin: 1rem;
    padding: 0; 
}

/* the properties of the second div in the footer */
.ftdiv2{
    margin: 1rem;
    padding: 0;
}

/* the properties of the third div in the footer */
.ftdiv3{
    margin: 1rem;
    padding: 0;
}

/* ]the properties of the fourth div in the footer */
.ftdiv4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.clh4{
    margin-top: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    color: var(--color1);
    font-size: 1.3rem;
}

.ftlogo{
    margin: 1vh 1vw;
    padding: 0;
    width: 8vw;
    border: none;
    border-radius: 2em;
}   

/* the properties for the lists in the footer */
.ftlist{
    margin: 0;
    padding: 0;
}

/* the properties for the links in the footer */
.ftlink, .ftlink>a{
    text-decoration: none;
    font-family: "Nunito", sans-serif;
    display: inline;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--color1);
    cursor: pointer;
    transition: 0.2s all; 
    transform: scale(1.2);
    vertical-align: middle;
}

.ftlink2{
    font-family: "Nunito", sans-serif;
    display: inline;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 1.3rem;
    font-weight: 700;
    cursor: default;
    color: var(--color1);
    vertical-align: middle;
}

.copyright{ 
    display: flex;
    margin: 0;
    padding: 0;
    background-color: var(--color3);
}

.end{
    font-family: "Nunito", sans-serif;
    text-align: center;
    width: 35.5vw;
    margin: 0;
    padding: 0;
    color: var(--color1);
}

@media (max-width: 600px) {
    .div5i1{
        flex-direction: column;
    }
    
}










