:root{
    --color1: #EEEEEE;
    --color2: #393E46;
    --color3: #393E46;
    --color4: #006d77;
    --placeholderclr: #EEEEEE;
    --hoverclr: #222831;
}



.heads{
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 280%;
    color: var(--color3);
    margin-top: 0;
    font-size: 5rem;
    text-align: center;
    padding-bottom: 0;
}

.abtdiv{
    text-align: center;
    margin: 2rem 8rem;
    border-radius: 1rem;
    background-color: rgba(0, 109, 119,0.9);
    /* background-color: var(--color4);    */
    padding: 2rem 4rem 2rem 4rem;
}

.abtp1{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--color4);
    font-size: 1.5rem;
    padding: 0;
    padding: 0 4rem;
}

.abtp2{
    align-self: center;
    font-family: "Nunito", sans-serif;
    font-size: 1.5rem;
    color: var(--color1);
}

.link1{
    align-self: center;
}

.abtlist{
    padding: 0;
    margin: 0;
}

.list{
    list-style: none;
}

.donate1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.donate-form{
    display: flex;
    justify-content: center;
    text-align: center;
}

.table1{ 
    font-optical-sizing: auto;
    font-style: normal;
    padding: 1.5rem;
    background-color: var(--color3); 
    border-radius: 1.5rem;
    width: 40vw;
}

.Volunteer{
    align-items: center;
}

.table2{
    text-align: center;
    font-family: "Nunito", sans-serif;
    padding: 1rem 1rem 1rem 2rem;
    margin: 0 auto 3rem auto;
    background-color: var(--color4);
    border-radius: 1rem;
    color: var(--color1);
}

.careers{
    align-items: center;
}

.careers-table{
    text-align: center;
    font-family: "Nunito", sans-serif;
    padding: 1rem 1rem 1rem 2rem;
    margin: 0 auto 0 auto;
    background-color: var(--color4);
    border-radius: 1rem;
    color: var(--color1);
}

.cols{
    padding: 0 1rem;
}

.table-link{
    color: var(--color1);
    text-decoration: none;
    cursor: pointer;
}

.vol-link:hover{
    color: var(--color1);
    text-decoration: none;
    cursor: pointer;
}

.row2, .row3{
    padding: 1.5rem 0;
}

.row1{
    padding-bottom: 1.5rem;
}

#r1c1{
    width: 25vw;
    text-align: right;
}

.col2{
    padding: 1.5rem;
}

.dntinp{
    width: 15vw;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--color4);
    font-size: 1rem;
    border-radius: 1.5rem;
    padding: 0.4rem;
    border: none;
    background-color: var(--color1);
}

.row6, .row4{
    color: var(--color1);
    width: 50%;
}

.table-p{
    padding: 0;
    margin: 1rem;
    font-size: 1.25rem;
    font-family: 'nunito', sans-serif;  
}

.inp-p{
    font-family: 'nunito', sans-serif;
    text-align: right;
    font-size:1.5rem ;
    color: var(--color1);
    padding: 0;
    margin: 0;
}

#oth{
    width: 24vw;
    height: 4.4vh;
}

.mbtn{
    text-decoration: none;
    margin-bottom: 1rem;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--color4);
    font-size: 1.25rem;
    text-align: center;
    border-radius: 1.5rem;
    padding: 0.65rem 2rem;
    border: none;
    width: 8vw;
    height: 6vh;
    background-color: var(--color1);
}

.mbtn:hover{
    color: var(--color1);
    background-color: var(--color4);
    transition: 0.3s;
    cursor: pointer;
}

.pay{
    text-decoration: none;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--color4);
    font-size: 1.25rem;
    text-align: center;
    border-radius: 1.5rem;
    padding: 0.7rem 2rem;;
    height: 6vh;
    border: none;
    background-color: var(--color1);  
}

.pay:hover{
    color: var(--color1);
    background-color: var(--color4);
    transition: 0.3s;
    cursor: pointer;
}
